*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}
body{
    background-color: #ff685d;

}
.Jogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 820px;
}
.Tabuleiro{
    width: 60%;
    background-color: #4caf50 ;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.Carta{
    background-color: #F2D49B;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    width: 30%;
}
.Carta li{
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    text-align: center;
    transition: 600ms;
    display: grid;
    align-content: center;
    -webkit-user-select: none;
}
.Carta li:hover{
    background-color:#f1f1f16b;
}
.Status{
    width: 90%;
    margin: 10px;
    background-color: #9af4ff ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 55px;
    align-items: center;
}
.Status h1{
    color: #242424;
    font-style: italic;
}

.Palavra{
    text-align: center;
    filter: blur(10px);
    height: 70px;
}
.Categoria{
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: #62626266;
}
.Dicas{
    list-style-type: none;
    margin: 10px;
}
.btPCarta{
    width: 100%;
    height: 40px;
    border: none;
    background: #f3212129;
    border-radius: 10px;
    font-size: 21px;
    color: bisque;
    margin-bottom: 10px;
}
.nmTime{
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    background-color: #faf4ea;
}
.Time{
    background-color: #a8a8a8;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 10px ;
    padding: 10px;
    cursor: crosshair;
}
.Time h3{
    background-color: #e7e7e7;
    margin: 0 20px;
    font-size: 80px;
    border-radius: 5px;
}
.Time h2{
    margin-top: 20px;
}
